Package: libreadline-gplv2-dev
Source: readline5
Version: 5.2+dfsg-3
Architecture: amd64
Maintainer: Debian QA Group <packages@qa.debian.org>
Installed-Size: 7515
Depends: libreadline5 (= 5.2+dfsg-3), libtinfo-dev
Conflicts: libreadline-dev, libreadline5-dev, libreadline6-dev
Replaces: libreadline5-dev
Section: libdevel
Priority: extra
Multi-Arch: same
Description: GNU readline and history libraries, development files
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.
 .
 This package contains as well the readline documentation in info format.
